<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<br>
<div class="mainH">

    <h1 style="text-align: center;" > <strong> Bienvenido al juego</strong>
    
    </h1>
    <h3 style="text-align: center;" >
        by: Jhoan Saavedra
    </h3>

</div>
<div>
    <router-outlet></router-outlet>
</div>
