

<div class="row" style="max-width: 1200px; margin: 0 auto;" >


    <div class="col-6">

        <div class="centerAlign">
            <button type="button" class="btn btn-secondary" (click)="newGame()" >Crear Sala </button>
        </div>
    </div>

    <div class="col-6">

        <div class="row">
            <div class="col-6" *ngIf="form!=null">


                <form [formGroup]="form"> 

                    <mat-form-field appareance="outline">
                        <mat-label>Ingrese código de sala</mat-label>
                        <input formControlName="code" matInput >

                        <mat-error *ngIf="hasError( $any(form?.get('code')))">
                            {{ printError( $any(form?.get('code')) ,{'required':'Campo requerido' }) }}
                        </mat-error>

                    </mat-form-field>

                </form>


            </div>
            <div class="col-6">
           
                    <button  type="button" class="btn btn-success" (click)="joinGame()" >Unirme Sala</button>
               
            </div>
        </div>     
        
    </div>

    <div class="center">
        <img src="https://c.tenor.com/UiRF5kmfxzAAAAAC/esperando-anime.gif" style="width: auto; height: 500px; margin-top: 50px;" >
    </div>


    
</div>
