<div class="center-grid main">


    <h2>Código de sala: {{idSala}} </h2>

    <div class="row">

        <div class="col-8">
            <div class="row">
                <div class="col-6">

                    <div class="row">
                        <div class="col-10">
                            <form [formGroup]="form">

                                <mat-form-field appareance="outline">
                                    <mat-label>Nombre jugador</mat-label>
                                    <input formControlName="name" matInput>

                                    <mat-error *ngIf="hasError( $any(form?.get('name')))">
                                        {{ printError( $any(form?.get('name')) ,{'required':'Campo requerido' }) }}
                                    </mat-error>

                                </mat-form-field>

                            </form>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="updateName()">Actualizar</button>
                        </div>
                    </div>


                </div>
                <div class="col-6" style="margin-top: 15px;">
 
                </div>
            </div>


        </div>
        <div class="col-1">
         <h3 style="font-weight: bold;">   VS </h3>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-6">
                    <h3>{{ (isOwn) ? room.playerB.name : room.playerA?.name }}</h3>
                </div>
                <div class="col-6">
                    <h3>-{{ (isOwn) ? "Jugador 2" : "Jugador 1" }}</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    

    <div *ngIf="room.game.isFinished">

        <div class="center" style="margin-bottom: 20px;">

            <button type="button" class="btn btn-primary" (click)="restartGame()">Reiniciar partida</button>

        </div>

        <div [ngClass]=" {
            'loser':room.game.win!=0 && !(( isOwn && room.game.win==1) || (!isOwn && room.game.win==2) ),
            'winner': room.game.win!=0 && (( isOwn && room.game.win==1) || (!isOwn && room.game.win==2) ) , 
       
        'tie':room.game.win==0
    }  ">

            <h1 style="text-align: center;" *ngIf="room.game.win!=0">{{ (isOwn && room.game.win==1) || (!isOwn &&
                room.game.win==2) ?"Wooo
                Ganaste!!!":"Perdiste brou, F" }}
            </h1>
            <h1 style="text-align: center;" *ngIf="room.game.win==0">Vaya empate!!!!</h1>
        </div>
    </div>

    <div class="row" style="max-width: 1000px;">



        <ng-container *ngFor="let row of boardAux ; let i=index">


            <ng-container *ngFor="let dt of   row; let j=index">

                <div class="col-4 border center" (click)="  clickCell(i,j)">
                    <img [src]="getImage(dt)" class="img" style="cursor: pointer;">
                </div>

            </ng-container>


        </ng-container>



    </div>

    <br>
    <br>
    <br>
</div>