.game{
    width: 900px;
    height: 900px;
}

.cell{
    border: 2px solid #000000;
    height: 250px;
    width: 250px;
    background-color: rgb(224, 224, 224);
    cursor: pointer;

}


.img{
    width: 220px; height: 220px;
}

.main{
    margin-top: 30px;
}

.winner{
    background-color: #28a745;
    color: white;
}

.loser{
    background-color: #dc3545;
    color: white;
}

.tie{
    background-color: #007bff;
    color:white;
}