/* You can add global styles to this file, and also import other style files */

.centerAlign{
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    width: 100%;
}


.center {
    text-align: center;
    align-items: center;
}

.center-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}